<div class="card mb-4">
    <div class="card-header">
        Categorías
    </div>
    <div class="card-body">
        

        <div class="btn-group d-grid gap-2" role="group" aria-label="Basic radio toggle button group">

            <div  class="d-grid gap-2" 
                  (click)="categorySelected(category)" 
                  (dblclick)="deleteCategory(category)"
                  *ngFor="let category of categories">

                <input type="radio" class="btn-check" name="btnradio" id="{{ category.name }}" autocomplete="off">
                <label class="btn" [ngClass]='category.color'  for="{{ category.name }}">{{ category.name }}</label>

            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Crear categoría
    </div>
    <div class="card-body">
        <label for="exampleColorInput" class="form-label">Seleccionar color</label><br>
        <button (click)="classAdd = classColor[i]" 
                *ngFor="let color of classColor; let i=index" 
                [ngClass]="classColor[i]" 
                class="btn p-3 me-2 mb-2">
        </button>
        
        <div class="input-group mt-2">
            <input #newCategory type="text" (keyup.enter)="addCategory(newCategory.value, classAdd)" class="form-control" placeholder="Nombre">
            <button (click)="addCategory(newCategory.value, classAdd)" [ngClass]="classAdd" class="btn" type="button">Agregar</button>
        </div>
    </div>
</div>