<div class="card mb-4">
    <div class="card-header">
        Categorías
    </div>
    <div class="card-body">
        

        <div id="categories-list" class="d-grid gap-2">

            <button  (click)="categorySelected(category.name)" 
                     (dblclick)="deleteCategory(category)"
                     [ngClass]='category.color' 
                     class="btn"
                     *ngFor="let category of categories">
                     {{ category.name }}
            </button >

          </div>
        
    </div>
</div>

<div class="card">
    <div class="card-header">
        Crear categoría
    </div>
    <div class="card-body">
        <label for="exampleColorInput" class="form-label">Seleccionar color</label><br>
        <button (click)="classAdd = classColor[i]" 
                *ngFor="let color of classColor; let i=index" 
                [ngClass]="classColor[i]" 
                class="btn p-3 me-2 mb-2">
        </button>
        
        <div class="input-group mt-2">
            <input #newCategory type="text" class="form-control" placeholder="Nombre">
            <button (click)="addCategory(newCategory.value, classAdd)" [ngClass]="classAdd" class="btn" type="button">Agregar</button>
        </div>
    </div>
</div>