<div class="card mb-4">
    <div class="card-header">
        Categories
    </div>
    <div class="card-body">
        

        <div class="btn-group d-grid gap-2" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
            (change)="changeCategory($event.target)">
            <label class="btn btn-outline-primary" for="btnradio1">Work</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
            (change)="changeCategory($event.target)">
            <label class="btn btn-outline-success" for="btnradio2">Holiday</label>

          </div>
        
    </div>
</div>

<div class="card">
    <div class="card-header">
        Create category
    </div>
    <div class="card-body">
        <label for="exampleColorInput" class="form-label">Selected color</label><br>
        <button *ngFor="let color of classColor; let i=index" [ngClass]="classColor[i]" class="btn p-3 me-2 mb-2"></button>
        <div class="input-group">
            <input id="new-event" type="text" class="form-control" placeholder="Category Title">

            <div class="input-group-append">
              <button id="add-new-event" type="button" class="btn btn-primary">Add</button>
            </div>
            <!-- /btn-group -->
          </div>
    </div>
</div>