/* You can add global styles to this file, and also import other style files */
.day-hover{
    cursor: pointer;
}

.day-hover:hover{
    background-color: #e9ecef;
}

.w-130{
    min-width: 130px;
}

.w-14{
    width: 14.28%;
}