/* You can add global styles to this file, and also import other style files */
.day-hover{
    cursor: pointer;
}

.day-hover:hover{
    background-color: #e9ecef;
}

.pointer{
    cursor: pointer;
}

.w-14{
    width: 100% / 7;
}

.seven-cols .col-md-1{
width: 14.285714285714285714285714285714%;
max-width: 14.285714285714285714285714285714% !important;
flex:none !important;
}

.cellDisaled{
    cursor: not-allowed;
    pointer-events: none;
    color: #ccc
}
