
<nav class="mt-3 m-1">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{'disabled': btnStyleLeft}">
        <a (click)="lessMonth(currentMonth)" class="page-link" href="#">
          <span>&laquo;</span>
        </a>
      </li>
      <li class="page-item w-100">
        <span class="text-dark page-link text-center">{{currentMonth.format('MMMM') | uppercase}}</span>
      </li>
      <li class="page-item" [ngClass]="{'disabled': btnStyleRigth}">
        <a (click)="moreMonth(currentMonth)" class="page-link" href="#">
          <span>&raquo;</span>
        </a>
      </li>
    </ul>
</nav>

<div class="m-3">
  <div class="row seven-cols border">
    <div class="col-md-1 text-center border p-3" *ngFor="let day of days"><strong>{{day |uppercase}}</strong></div>
  </div>
  <div class="row seven-cols">
  
    <div [ngClass]="{'cellDisaled': !cell.isIntCurrentMonth}" 
         class="col-md-1 border day-hover p-3" 
         *ngFor="let cell of cells">
         {{cell.date.date()}}
    </div>
    
  </div>  
</div>
  
